.users-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background: #f4f4f4;
}
.user-block {
    padding: 20px;
    width: 100%;
    max-width: 450px;
}
